h1 {
    text-align: center;
    background-color: chocolate;
}
h2{
    color: white;
    text-shadow: 4px 4px 4px #000000;
}

.pull-right {
    display: table-cell;
    float: right !important;
    vertical-align: bottom;
    margin-top: 1em;
}
.card{
    margin: 2em;
}

/* Narration Page */

#narration{
    height: 100vh;
}
#text {
    margin: 2% 2% 2 2% 2%;
    text-align: center;
    background-color: white;
}
#next button{
    margin-left: 50%;
}
